.chip-container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 16px;
  margin: 0 auto;
  max-width: 100%;
  scrollbar-width: none; /* Firefox */
}
.chip-container::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.chip {
  padding: 10px 18px;
  background-color: #e4e4e4a2;
  border-radius: 7px;
  white-space: nowrap;
  cursor: pointer;
  font-weight:normal;
  font-size: 14px;
  color: #000000;
  transition: background-color 0.2s ease;
 border: 1px solid #04102b06;
}

.chip:hover {
  background-color: #d2d2d2;
}

.chip.selected {
  background-color:#194aad;
  color: #fff;
}
